<img src="{{ asset('images/algarve.png') }}" height="30px" width="auto" alt="Bannière Alma Lusa">
<h1>Activation de votre compte</h1>
<p>Vous avez créé un compte sur Alma Lusa, veuillez cliquer sur le lien ci-dessous pour l'activer</p>
<p><a href="{{ absolute_url(path('activation', {'token' : token})) }}">Activer mon compte</a></p>