/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/*
/var/*
.phpunit
.phpunit.result.cache
/phpunit.xml
.idea/*
.idea\workspace.xml
*\workspace.xml
*.log
*.xml
*.iml
composer.lock
config/bundles.php
symfony.lock
/vendor/*

/app/config/parameters.yml
/build/
/phpunit.xml
/var/
!/var/cache
/var/cache/
!var/cache/.gitkeep
!/var/logs
/var/logs/
!var/logs/.gitkeep
!/var/sessions
/var/sessions/
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea/misc.xml
.idea/modules.xml
.idea/thomascazottes2.iml
.idea/vcs.xml
.idea/php.xml
composer.json
composer.lock
symfony.lock

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
*.iml

