/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/*
/var/*
.phpunit
.phpunit.result.cache
/phpunit.xml
.idea/*
.idea\workspace.xml
*\workspace.xml
*.log
*.xml
*.iml
composer.lock
config/bundles.php
symfony.lock
/vendor/*
