.card-header{
    background-color: #f5f5f5;
}
ul{
    list-style-type: none;
}
footer {
    display: none;
}

.first-container
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

@media screen and (max-width: 992px) {
    .first-container
    {
        flex-direction: column;
    }
    .second-container
    {
        max-width: 350px;
    }
}