
/* FOOTER */

.footer-a {
    color: rgba(255, 255, 255, 0.6);
}

.footer-a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-tittle {
    color: #FFFFFF;
}

.footer-p {
    color: #FFFFFF;
}
.page-footer{
    padding-top: 1.5rem;
}

@media screen and (max-width: 992px) {
    .description-footer{
        display: none;
    }
    .page-footer{
        padding-top: 0;
    }
    hr{
        display: none;
    }
    .footer-link-div{
        padding-top: 5px;
    }
}