body{
    background-color: #f5f5f5;
}
.jumbotron {
    margin-bottom: 0rem;
    background-color: #f5f5f5;
}
.carte{
    max-width: 300px;
    min-height: 400px;
}
#article_picture{
    margin: auto;
    max-width: 250px;
}
