#container {
    background-color: #f5f5f5;
    height: 100vh;
    display: grid;
    place-items: center;
}

.signup {
    max-width: 400px;
}

.navbar {
    display: none;
}

.custom-file-label {
    opacity: 0;
}

.custom-file-input {
    opacity: 1;
}

footer {
    display: none;
}

a:hover {
    text-decoration: underline;
}