{% extends 'base.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}
    <div class="container mb-3">
        <form method="post">
            <h1 class="h3 mb-3 font-weight-normal">Mots de passe oublié</h1>
            <label for="inputEmail" class="sr-only">mail</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

            <button class="btn btn-lg btn-primary mt-3" type="submit">
                Email envoyé
            </button>

        </form>
    </div>
    <style>
        footer{
            display: none;
        }
    </style>
{% endblock %}