{% extends 'base.html.twig' %}

{% block title %}Reset Password !{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">
            <h1 class="h3 mb-3 font-weight-normal">Changement de mot de passe :</h1>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control mb-3" placeholder="Mot de passe" required>
            <input type="password" name="password2" id="inputPassword2" class="form-control mb-3" placeholder="Confirmer le mot de passe" required>
            <input type="hidden" name="token" value="{{ token }}">
            <button class="btn btn-lg btn-secondary mb-3" type="submit">
                Changer le mot de passe
            </button>
        </form>
    </div>
    <style>
        footer{
            display: none;
        }
    </style>
{% endblock %}