{% extends "base.html.twig" %}
{% block body %}
<h1>{{ title }}</h1>

<p>
    Créée à RENNES le 14 décembre 2012, L'Association Culturelle Portugaise ALMA LUSA a pour objectif
     de promouvoir la langue portugaise et la culture lusophone à travers des activités culturelles 
     diversifiées: expositions, conférences, chant, voyages, etc.
</p>
{% endblock %}
