{% block body %}
	<header>
		<link rel="stylesheet" href="css/footer.css">
	</header>
	<!-- Footer -->
<footer class="page-footer font-small mt-5">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row justify-content-between">
            <!-- Grid column -->
            <div class="description-footer col-md-4 col-lg-6 col-xs-4 mb-2">
                <!-- Content -->
                <h5 class="text-uppercase footer-title">Alma Lusa</h5>
                <p class="footer-p">Créée à RENNES le 14 décembre 2012, L'Association Culturelle Portugaise ALMA LUSA a
                    pour objectif de promouvoir la langue portugaise et la culture lusophone à travers des activités
                    culturelles diversifiées: expositions, conférences, chant, voyages, etc.</p>
            </div>
            <!-- Grid column -->
            <hr class="first-hr clearfix w-100 d-md-none pb-3">
            <!-- Grid column -->
            <div class=" col-lg-2 col-md-4 col-xs-4 mb-2">
                <!-- Links -->
                <div class="footer-link-div">
                    <h5 class="text-uppercase footer-tittle">A Propos</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="footer-a" href="/adhesion">Nous rejoindre</a>
                        </li>
                        <li>
                            <a class="footer-a" href="#!">Plan du site</a>
                        </li>
                        <li>
                            <a class="footer-a" href="#!">Mentions légales</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <!-- Grid column -->
            <div class=" col-md-4 col-lg-4  col-xs-4 mb-2">
                <h5 class="text-uppercase footer-tittle">S'inscrire a la newsletter </h5>
                <div class="form-group">
                    <div class="form-group">
                        <div class="input-group mb-3 flex-input">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            <input type="email" class="form-control" style="max-width: 300px;" placeholder="Votre Email">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"$>© 2020 Copyright:
        <a class="footer-a" href="https://axeldahirel.fr/"> Axel Dahirel</a>
        &
        <a class="footer-a" href="https://www.youtube.com/watch?v=WtO3AHMBePY"> Jean Lagniaux</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
{% endblock %}
