<style>
	form {
		width: 100%;
	}
	#search {
		background-color: white;
	}
</style>
<div id="search" class="p-3 d-flex mb-5  js-filter-form">
	{{ form_start(form) }}
	<div class="d-flex justify-content-between">
		<div>
			<h4>Catégories</h4>
			{{ form_row(form.wordings) }}
		</div>
		<div>
			<h4>Rechercher</h4>
			{{ form_row(form.q) }}
		</div>
	</div>
	<div class="d-flex">
		<button type="submit" class="btn btn-secondary mr-3">Filtrer</button>
		<!-- <a href="">
			<button class="btn btn-danger">
				Réinitialiser
			</button>
		</a> -->
	</div>

	{{ form_end(form) }}
</div>
