<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <!--
     _   U _____ u   _     _   _        U _____ u _____          _     __  __ U _____ u _
  U |"| u\| ___"|U  /"\  u| \ |"|       \| ___"|/|_ " _|     U  /"\  u \ \/"/ \| ___"|/|"|
 _ \| |/  |  _|"  \/ _ \/<|  \| |>       |  _|"    | |        \/ _ \/  /\  /\  |  _|"U | | u
| |_| |_,-| |___  / ___ \U| |\  |u       | |___   /| |\       / ___ \ U /  \ u | |___ \| |/__
 \___/-(_/|_____|/_/   \_\|_| \_|        |_____| u |_|U      /_/   \_\ /_/\_\  |_____| |_____|
  _//     <<   >> \\    >>||   \\,-.     <<   >> _// \\_      \\    >,-,>> \\_ <<   >> //  \\
 (__)    (__) (__(__)  (__(_")  (_/     (__) (__(__) (__)    (__)  (__\_)  (__(__) (__(_")("_)
  -->

    <meta charset="UTF-8">
    <meta
            name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Website title -->
    <title>
        {% block title %}Alma Lusa
        {% endblock %}
    </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    <link rel="stylesheet" href="css/base.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{%  include 'blog/navbar.html.twig' %}
    {% block body %}{% endblock %}
{%  include 'blog/footer.html.twig' %}
{% block javascripts %}{% endblock %}
</body>
</html>
