{% extends 'base.html.twig' %}
{% block title %}Erreur!{% endblock %}

{% block body %}
    </div>

    <div class="container">
        <span style="font-size: 15rem">ERREUR</span>
        <h1>La page n'existe pas</h1>
        <p>
            Une erreur est survenue... Nous sommes désolés, mais vous pouvez toujours voir nos dernier article.
        </p>
        <div class="d-flex justify-content- pl-3 pb-3">
            <button onclick="redirectTemplate()" type="button" class="btn btn-secondary">voir les article</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function redirectTemplate() {
            document.location.href = "{{ path('blog') }}";
        }
    </script>
{% endblock %}

