{% extends "base.html.twig" %}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
<div style="height: 100vh; display: grid; place-items: center; margin-top: -100px;">
        <div>
        <h1>Mot de passe oublié</h1>
        {{form(emailForm) }}
        </div>
        
</div>
        <style>
        footer{
                display: none;
        }
        #reset_pass_envoyer{
                background-color: #6c757d;
                border-color: #6c757d;
        }
        </style>
{% endblock %}
